In [23]:
#import dependencies
import pandas as pd
import numpy as np

In [24]:
#import csv
"""df = pd.read_csv("Resources/train.csv")
 got this warning:
 DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False."""

df = pd.read_csv("Resources/train.csv", dtype={26: str})

In [25]:
#check for inital duplicates
duplicates = df.duplicated().sum()
print(f"The number of duplicates is {duplicates}")

The number of duplicates is 0

In [26]:
#check info types for correct format
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [27]:
#check shape
df.shape

(100000, 28)

In [28]:
""" dont want: id, cust id, month, name, age, social occupation, no. bank accounts, interst rate, invest monthly  """
#dropping unwanted columns
# dropped_df = df.drop(['ID','Customer_ID','Month','Name', 'Age', 'Occupation', 'Num_Bank_Accounts', 'Interest_Rate', 'Amount_invested_monthly'], axis = 1)
dropped_df = df.drop(['ID','Customer_ID','Month','Name'], axis = 1)
#formatting spaces
df = dropped_df.replace("_", " ", regex=True)
#fill in blank cells
#refrenced from stack overflow
df.replace(r'^\s+$', np.nan, regex=True)
df

,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High spent Small value payments,312.49408867943663,Good
1,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low spent Large value payments,284.62916249607184,Good
2,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low spent Medium value payments,331.2098628537912,Good
3,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low spent Small value payments,223.45130972736786,Good
4,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High spent Medium value payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High spent Large value payments,479.86622816574095,Poor
99996,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High spent Medium value payments,496.651610435322,Poor
99997,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,5729,2,"Auto Loan, and Student Loan",...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High spent Large value payments,516.8090832742814,Poor
99998,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low spent Large value payments,319.1649785257098,Standard
99999,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.6736955618808,Poor

In [29]:
#dropping negative values
columns_to_check = [
    'Annual_Income', 'SSN', 'Monthly_Inhand_Salary', 'Num_Credit_Card',
    'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
    'Credit_Utilization_Ratio', 'Total_EMI_per_month', 'Monthly_Balance'
]

# Convert specified columns to numeric, setting errors='coerce' to turn non-numeric values into NaN
df[columns_to_check] = df[columns_to_check].apply(pd.to_numeric, errors='coerce')

# Drop rows where any of the specified columns have negative values
df.drop(df[df[columns_to_check].lt(0).any(axis=1)].index, inplace=True)

#dropping rows which have the social security number error "#F%$D@*&8"
#df = df.drop(df[df['SSN'] == '#F%$D@*&8'].index)

df.shape

(93465, 24)

In [30]:
# df.to_csv("Resources/train_cleaned.csv", index=False)
df.to_csv("Resources/cpl_train_cleaned.csv", index=False)

In [31]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
    .appName("CSV to DataFrame") \
    .getOrCreate()

In [32]:
# Read the CSV file into a DataFrame
df = spark.read.csv("Resources/train_cleaned.csv", header=True, inferSchema=True)
df.show()

+----+-------------+---------------------+---------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+--------------------+------------------+------------+
| SSN|Annual_Income|Monthly_Inhand_Salary|Num_Credit_Card|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|  Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|   Payment_Behaviour|   Monthly_Balance|Credit_Score|
+----+-------------+---------------------+---------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+--------------------+------------------+------------+
|NULL|     19114.12|   1824.8433333333328|              4|          4|Auto Loan, Credit...|                  3|                   7.0|               11.27|                 4.0|          |          809.98|      26.822619623699016|22 Years and 1 Mo...|                   No|  49.57494921489417|High spent Small ...|312.49408867943663|        Good|
|NULL|     19114.12|                 NULL|              4|          4|Auto Loan, Credit...|                  3|                   7.0|                NULL|                 4.0|      Good|          809.98|       28.60935202206993|22 Years and 3 Mo...|                   No|  49.57494921489417|Low spent Medium ...| 331.2098628537912|        Good|
|NULL|     19114.12|                 NULL|              4|          4|Auto Loan, Credit...|                  5|                   4.0|                6.27|                 4.0|      Good|          809.98|      31.377861869582357|22 Years and 4 Mo...|                   No|  49.57494921489417|Low spent Small v...|223.45130972736783|        Good|
|NULL|     19114.12|   1824.8433333333328|              4|          4|Auto Loan, Credit...|                  6|                  NULL|               11.27|                 4.0|      Good|          809.98|      24.797346908844982|22 Years and 5 Mo...|                   No|  49.57494921489417|High spent Medium...|341.48923103222177|        Good|
|NULL|     19114.12|                 NULL|              4|          4|Auto Loan, Credit...|                  8|                   4.0|                9.27|                 4.0|      Good|          809.98|       27.26225871052017|22 Years and 6 Mo...|                   No|  49.57494921489417|              !@9#%8| 340.4792117872438|        Good|
|NULL|     19114.12|   1824.8433333333328|              4|          4|Auto Loan, Credit...|                  3|                   8.0|               11.27|                 4.0|      Good|          809.98|       22.53759303178384|22 Years and 7 Mo...|                   No|  49.57494921489417|Low spent Small v...| 244.5653167062043|        Good|
|NULL|     19114.12|   1824.8433333333328|              4|          4|Auto Loan, Credit...|                  3|                   6.0|               11.27|                 4.0|      Good|          809.98|       23.93379480196552|                NULL|                   No|  49.57494921489417|High spent Medium...|358.12416760938714|    Standard|
|NULL|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  3|                   4.0|                5.42|                 2.0|      Good|          605.03|       24.46403063758457|26 Years and 7 Mo...|                   No| 18.816214573128885|Low spent Small v...|470.69062692529184|    Standard|
|NULL|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  7|                   1.0|                7.42|                 2.0|      Good|          605.03|      38.550848433956325|26 Years and 8 Mo...|                   No| 18.816214573128885|High spent Large ...| 484.5912142650067|        Good|
|NULL|     34847.84|                 NULL|              4|          1| Credit-Builder Loan|                  3|                   3.0|                5.42|                 2.0|      Good|          605.03|       39.18265565546884|26 Years and 10 M...|                   No| 18.816214573128885|Low spent Medium ...| 465.6762241330048|        Good|
|NULL|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  3|                   1.0|                6.42|                 2.0|      Good|          605.03|       34.97789474709241|26 Years and 11 M...|                   No| 18.816214573128885|Low spent Small v...| 444.8670318506144|        Good|
|NULL|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  3|                   0.0|                5.42|                 2.0|      Good|          605.03|       33.38101020065065|27 Years and 0 Mo...|                   No| 18.816214573128885|High spent Large ...|  481.505261949182|        Good|
|NULL|     34847.84|                 NULL|              4|          1| Credit-Builder Loan|                  3|                   4.0|                5.42|                 2.0|      Good|          605.03|      31.131701611553307|27 Years and 1 Mo...|                   NM| 18.816214573128885|High spent Medium...| 464.8806778859809|        Good|
|NULL|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  3|                   4.0|                5.42|                 2.0|      Good|          605.03|      32.933856293622235|27 Years and 2 Mo...|                   No| 18.816214573128885|Low spent Small v...|356.07810855965045|        Good|
|NULL|    143162.64|             12187.22|              5|          3|Auto Loan, Auto L...|                  5|                   8.0|                 7.1|                 3.0|      Good|         1303.01|      28.616734823006844|17 Years and 9 Mo...|                   No|  246.9923194537421|              !@9#%8|1043.3159778669492|        Good|
|NULL|    143162.64|             12187.22|              5|          3|Auto Loan, Auto L...|                 13|                   6.0|                 7.1|                 3.0|      Good|         1303.01|       41.70257342393906|17 Years and 10 M...|                   No|  246.9923194537421|High spent Small ...| 998.8692967863226|        Good|
|NULL|    143162.64|                 NULL|              5|          3|Auto Loan, Auto L...|                  8|                   7.0|                11.1|                NULL|      Good|         1303.01|      26.519815391546494|17 Years and 11 M...|                   No|  246.9923194537421|High spent Small ...|  715.741367403555|        Good|
|NULL|    143162.64|             12187.22|              5|          3|Auto Loan, Auto L...|                  8|                   5.0|                 9.1|                 3.0|          |         1303.01|       39.50164810812735|                NULL|                   No|  246.9923194537421|Low spent Medium ...| 426.5134106068658|        Good|
|NULL|    143162.64|             12187.22|              5|          3|Auto Loan, Auto L...|                 10|                   5.0|                 7.1|                 3.0|      Good|         1303.01|       31.37614957421204|18 Years and 1 Mo...|                   No|  246.9923194537421|Low spent Large v...| 810.7821526659284|        Good|
|NULL|    143162.64|             12187.22|              5|        967|Auto Loan, Auto L...|                  8|                   6.0|                 7.1|                 3.0|      Good|         1303.01|       39.78399345802119|18 Years and 2 Mo...|                   No|  246.9923194537421|High spent Medium...| 963.9215811205684|        Good|
+----+-------------+---------------------+---------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+--------------------+------------------+------------+
only showing top 20 rows

In [33]:
#Drop column not needed
train_cleaned_df = df.drop("SSN")
train_cleaned_df.show()

+-------------+---------------------+---------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+--------------------+------------------+------------+
|Annual_Income|Monthly_Inhand_Salary|Num_Credit_Card|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|  Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|   Payment_Behaviour|   Monthly_Balance|Credit_Score|
+-------------+---------------------+---------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+--------------------+------------------+------------+
|     19114.12|   1824.8433333333328|              4|          4|Auto Loan, Credit...|                  3|                   7.0|               11.27|                 4.0|          |          809.98|      26.822619623699016|22 Years and 1 Mo...|                   No|  49.57494921489417|High spent Small ...|312.49408867943663|        Good|
|     19114.12|                 NULL|              4|          4|Auto Loan, Credit...|                  3|                   7.0|                NULL|                 4.0|      Good|          809.98|       28.60935202206993|22 Years and 3 Mo...|                   No|  49.57494921489417|Low spent Medium ...| 331.2098628537912|        Good|
|     19114.12|                 NULL|              4|          4|Auto Loan, Credit...|                  5|                   4.0|                6.27|                 4.0|      Good|          809.98|      31.377861869582357|22 Years and 4 Mo...|                   No|  49.57494921489417|Low spent Small v...|223.45130972736783|        Good|
|     19114.12|   1824.8433333333328|              4|          4|Auto Loan, Credit...|                  6|                  NULL|               11.27|                 4.0|      Good|          809.98|      24.797346908844982|22 Years and 5 Mo...|                   No|  49.57494921489417|High spent Medium...|341.48923103222177|        Good|
|     19114.12|                 NULL|              4|          4|Auto Loan, Credit...|                  8|                   4.0|                9.27|                 4.0|      Good|          809.98|       27.26225871052017|22 Years and 6 Mo...|                   No|  49.57494921489417|              !@9#%8| 340.4792117872438|        Good|
|     19114.12|   1824.8433333333328|              4|          4|Auto Loan, Credit...|                  3|                   8.0|               11.27|                 4.0|      Good|          809.98|       22.53759303178384|22 Years and 7 Mo...|                   No|  49.57494921489417|Low spent Small v...| 244.5653167062043|        Good|
|     19114.12|   1824.8433333333328|              4|          4|Auto Loan, Credit...|                  3|                   6.0|               11.27|                 4.0|      Good|          809.98|       23.93379480196552|                NULL|                   No|  49.57494921489417|High spent Medium...|358.12416760938714|    Standard|
|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  3|                   4.0|                5.42|                 2.0|      Good|          605.03|       24.46403063758457|26 Years and 7 Mo...|                   No| 18.816214573128885|Low spent Small v...|470.69062692529184|    Standard|
|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  7|                   1.0|                7.42|                 2.0|      Good|          605.03|      38.550848433956325|26 Years and 8 Mo...|                   No| 18.816214573128885|High spent Large ...| 484.5912142650067|        Good|
|     34847.84|                 NULL|              4|          1| Credit-Builder Loan|                  3|                   3.0|                5.42|                 2.0|      Good|          605.03|       39.18265565546884|26 Years and 10 M...|                   No| 18.816214573128885|Low spent Medium ...| 465.6762241330048|        Good|
|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  3|                   1.0|                6.42|                 2.0|      Good|          605.03|       34.97789474709241|26 Years and 11 M...|                   No| 18.816214573128885|Low spent Small v...| 444.8670318506144|        Good|
|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  3|                   0.0|                5.42|                 2.0|      Good|          605.03|       33.38101020065065|27 Years and 0 Mo...|                   No| 18.816214573128885|High spent Large ...|  481.505261949182|        Good|
|     34847.84|                 NULL|              4|          1| Credit-Builder Loan|                  3|                   4.0|                5.42|                 2.0|      Good|          605.03|      31.131701611553307|27 Years and 1 Mo...|                   NM| 18.816214573128885|High spent Medium...| 464.8806778859809|        Good|
|     34847.84|    3037.986666666666|              4|          1| Credit-Builder Loan|                  3|                   4.0|                5.42|                 2.0|      Good|          605.03|      32.933856293622235|27 Years and 2 Mo...|                   No| 18.816214573128885|Low spent Small v...|356.07810855965045|        Good|
|    143162.64|             12187.22|              5|          3|Auto Loan, Auto L...|                  5|                   8.0|                 7.1|                 3.0|      Good|         1303.01|      28.616734823006844|17 Years and 9 Mo...|                   No|  246.9923194537421|              !@9#%8|1043.3159778669492|        Good|
|    143162.64|             12187.22|              5|          3|Auto Loan, Auto L...|                 13|                   6.0|                 7.1|                 3.0|      Good|         1303.01|       41.70257342393906|17 Years and 10 M...|                   No|  246.9923194537421|High spent Small ...| 998.8692967863226|        Good|
|    143162.64|                 NULL|              5|          3|Auto Loan, Auto L...|                  8|                   7.0|                11.1|                NULL|      Good|         1303.01|      26.519815391546494|17 Years and 11 M...|                   No|  246.9923194537421|High spent Small ...|  715.741367403555|        Good|
|    143162.64|             12187.22|              5|          3|Auto Loan, Auto L...|                  8|                   5.0|                 9.1|                 3.0|          |         1303.01|       39.50164810812735|                NULL|                   No|  246.9923194537421|Low spent Medium ...| 426.5134106068658|        Good|
|    143162.64|             12187.22|              5|          3|Auto Loan, Auto L...|                 10|                   5.0|                 7.1|                 3.0|      Good|         1303.01|       31.37614957421204|18 Years and 1 Mo...|                   No|  246.9923194537421|Low spent Large v...| 810.7821526659284|        Good|
|    143162.64|             12187.22|              5|        967|Auto Loan, Auto L...|                  8|                   6.0|                 7.1|                 3.0|      Good|         1303.01|       39.78399345802119|18 Years and 2 Mo...|                   No|  246.9923194537421|High spent Medium...| 963.9215811205684|        Good|
+-------------+---------------------+---------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+--------------------+------------------+------------+
only showing top 20 rows